<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988614001634-fl1c46ln9jecjvng0ti38ii9kpgi9bdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988614001634-fl1c46ln9jecjvng0ti38ii9kpgi9bdn</string>
	<key>API_KEY</key>
	<string>AIzaSyC9jIxXoLThYX0a0l7-sGbWXIRhp3xfiCA</string>
	<key>GCM_SENDER_ID</key>
	<string>988614001634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riderapp</string>
	<key>PROJECT_ID</key>
	<string>riderapp-370fa</string>
	<key>STORAGE_BUCKET</key>
	<string>riderapp-370fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988614001634:ios:eeaad77e3f80a0e505afbb</string>
</dict>
</plist>